@import "tailwindcss";

:root {
  --background: #FFAFAFA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.hero {
  background-image: url(/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-items .ant-select {
  background-color: transparent;
  width: 70px !important;
}
.nav-items .ant-select-content-value {
  color: white !important;
}
.nav-items .anticon anticon-down {
  color: white !important;
}
